

body {

  padding: 0;

  margin: 0;

  background-color: #454d6b;

}

#login {

  display: flex;

  align-items: center;

  justify-content: center;

  height: 100vh;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {

  background-color: rgba(19, 19, 19, 0.3);

  padding: 45px;

  border-radius: 2px;

  width:280px;

}

.card-header {

  padding-bottom: 50px;

  opacity: 0.8;

  color: #fff;

}

.card-header::after {

  content: "";

  width: 70px;

  height: 1px;

  background-color: #fff;

  display: block;

  margin-top: -17px;

  margin-left: -5px;

}

.card-content label {

  color: #fff;

  font-size: 12px;

  opacity: 0.8;

}

.card-content-area {

  display: flex;

  flex-direction: column;

  padding:10px 0;

}

.card-content-area input {

  margin-top: 10px;

  padding:0 5px;

  background-color: transparent;

  border:none;

  border-bottom: 1px solid #e1e1e1;

  outline: none;

  color: #fff;

}

.card-footer {

  display: flex;

  flex-direction: column;

}

.card-footer .submit{

  width: 100%;

  height: 40px;

  background-color: #a13854;

  border:none;

  color:#e1e1e1;

  margin: 10px 0;

}

.card-footer a {

  text-align: center;

  font-size: 12px;

  opacity: 0.8;

  color: #fff;

  text-decoration: none;

}

.card-foot a {

  text-align: center;

  font-size: 20px;

  opacity: 0.8;

  color: rgb(250, 250, 250);

  text-decoration: none;

  border: #fff;

}

nav {
  max-width: 250px;
  width: 100%;
  background-color: rgba(19, 19, 19, 0.3);
  height: 1000px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li{
  border-bottom: 1px solid var(--cor-secundaria);
}

nav ul li a {
  background-color: var(--cor-principal);
  color: #FFF;
  padding: 10px;
  display: inline-flex;
  text-decoration: none;
  transition: background .3s;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
}